<div class="product-information">
  <h1>От хаоса к структуре</h1>
  <p>
    To Do List дает уверенность в том, что все организовано и принято во внимание, чтобы вы могли продвигаться в важных для себя делах.
  </p>
  <h2> Начинайте каждый день, чувствуя покой и контроль над ситуацией</h2>
  <p>Получайте ясное представление обо всем, что нужно сделать, и никогда не забывайте о важных задачах.</p>
  <li>Фиксируйте и организуйте задачи с помощью «Быстрого добавления»
    в момент, когда вы о них подумали.
  </li>
  <li>Помните о дедлайнах и формируйте привычки
  </li>
  <li>Смотрите на день или неделю вперед
    и вычеркивайте задачи по мере движения.
  </li>
  <li>Направляйте свою энергию на нужные вещи</li>
  <h2>Добавьте To do List в свой мир</h2>
</div>
