:host {
  display: flex;
  flex-direction: column;

  min-height: 0px;
  height: 100%;
}

app-topbox{
  height: 100px;
  background-color: slategrey;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

app-footer{
  height: 100px;
  background-color: lightslategray;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
app-content{
  padding: 10px;
  flex: 1 1 auto;
  background-color: lightgrey;

  display: flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: auto;
}
