app-list-item{
  margin: 10px;
  border: 2px solid white;
  background: slategrey;
  padding: 3px;
  width: 270px;

  display: flex;
  flex-direction: row;
}
app-header {
  margin: 0px 0px 10px;
  height: 100px;
  background-color: slategrey;
  padding: 16px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}


